extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jason Howie

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My name is Jason Howie. I am a Full-Stack Web developer looking to further my education in programming and find full-time work doing it. 
            | Currently I have spent about a year and a half learning programming and I am currently taking the Full-Stack JavaScript Techdegree by Treehouse.
            | I take pride in the things I build and I want to help make the internet a easy and interactive invironment for everyone around the world. 
            | I am always pursuing to learn more, create and experience new technology.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li AJAX
          li Nodejs
          li Command Line
          li Git & Github
          li Object Oriented Programming
          li Express
        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  